#card1{
   height: 530px;
   background-position: 80%;
   background-size: cover;
   background-image: url(http://getwallpapers.com/wallpaper/full/c/3/9/184125.jpg);
}


#card2{
    margin-left: 400px;
    margin-top: 100px;
    width: 500px;
    height: 350px;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
   border-bottom-left-radius: 16px;
   border-bottom-right-radius: 16px;
   align-items: center;
   
}

#lin h6{
    float: left;
    margin-top: 2px;
}
#lin a{
    margin-left: 1cm;
    color:tomato;
}
