<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1>MyMovies</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href=""></a>
        <a class="nav-item nav-link active" href="/Home">Home</a>
        <a class="nav-item nav-link" href="/Telugu-Movies">Telugu-Movies</a>
        <a class="nav-item nav-link" href="/Other-Movies">Other-Movies</a>
        <a class="nav-item nav-link" href="/Oth">Other-Movies</a> 

      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  


