<div class="card" id="card2">
    <div class="card" id="card1">
    
    <div id="email">
        <label>Email Id</label>
        <br>
    <input type="text" placeholder="Enter Email id" id="emailid">
    </div>
    <br>
    <div id="pass">
    <label>Password</label>
    <br>
    <input type="password" placeholder="Enter Password" id="password">
    </div>
    <br>
    <div id="butt">
        <input type="button" value="LogIn" (click)="LogIn()">
    </div>
    <br>
    <div id="sign">
        <h6>No Account available?</h6>
        <a href="/body">Please Sign up</a>
    </div>
    
    </div>
    </div>
