.movies{
    margin-bottom: 30px;
}

#img1{
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: bisque;
   

    }
#img1{
    transition: transform 2s;
}
#img1:hover{
    transform: scale(1.05);
}

#img2{
    float: left;
    margin-left: 200px;
    margin-bottom: 100px;
    background-color: chartreuse;
    margin-top: -300px;
   

    }
#img2{
    transition: transform 2s;
}
#img2:hover{
    transform: scale(1.05);
}